* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#container {
  width: 30%;
  height: 70%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  border-radius: 8px;
  margin: 10px;
}

.titulo {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 95%;
  height: 65%;
  background-color: azure;
  border-radius: 8px;
}

table {
  background-color: grey;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

tr {
  background-color: grey;
  width: 30%;
  height: 30%;
  border-radius: 8px;
  
}

td {
  width: 30%;
  height: 30%;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

.celula {
  font-weight: 900;
  font-size: 50px;
}

th {
  font-size: xx-large;
}

#btn {
  width: 89%;
  height: 80%;
  background-color: red;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: white;
  font-size: larger;
  font-weight: 900;
}

#btn1 {
    width: 89%;
  height: 80%;
  background-color: darkgray;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: rgb(66, 66, 66);
  font-size: larger;
  font-weight: 900;
}

#btn:hover {
  background-color: darkred;
  cursor: pointer;
}

#container2 {
  width: 30%;
  height: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  border-radius: 8px;
  margin: 10px;
}

#box2 {
  width: 95%;
  height: 65%;
  background-color: azure;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#O {
  width: 45%;
  height: 95%;
  background-color: grey;
  border-radius: 8PX;
  display: flex;
  align-items: center;
  justify-content: center;
}

#X {
  width: 45%;
  height: 95%;
  background-color: grey;
  border-radius: 8PX;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 300px;
}

h3 {
  font-size: 50px;
  color: red;
}

#O, #X {
  text-decoration: none;
  color: black;
}

#O:hover {
  color: red;
}

#X:hover {
  color: red;
}

#container3 {
  width: 30%;
  height: 70%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  border-radius: 8px;
  margin: 10px;
}

.placar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

span {
  font-size: 30px;
  color: black;
}

#Classificacao {
  width: 95%;
  height: 65%;
  background-color: azure;
  border-radius: 8px;
}

.celula:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.vencedora {
  background-color: greenyellow !important;
  color: black;
}